.member-cont{
    display: flex;
    justify-content: center;
}
.signin-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:250px;
    height:200px;
    margin-top: 56px;
    border: solid 1px #757575;
}
.signup-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:250px;
    height:250px;
    margin-top: 56px;
    border: solid 1px #757575;
}
.signin-head-cont{
    width:100%;
    display: grid;
    grid-template-columns: 80px 100px 30px 30px;
    grid-template-areas: ". title . cross";
    align-items: center;
}
.signin-title{
    grid-area: title;
}
.cross{
    grid-area: cross;
    cursor: pointer;
}
.form-signin{
    display:grid;
    row-gap: 5px;
}
.input-name{
    width:100%;
    height:30px;
    border:solid 1px #757575;
}
.input-signin{
    width:100%;
    height:30px;
    border:solid 1px #757575;
}
/* .input-signin:valid{
    border:solid 1px #36d30fb4;
}
.input-signin:invalid{
    border:solid 1px red;
} */
button{
    cursor: pointer;
}
.error-message{
    text-align: center;
    width: 100%;
    color:red;
}
