.member-info-cont{
    margin-top: 90px;
    display: grid;
    justify-content: center;
}
.member-user{
    display: flex;
    justify-content: center;
    align-items: center;
}
.member-user-cont-left{
    width: 100px;
    height: 100px;
}
.member-user-pic{
    width: 100%;
    height: 100%;
}
.member-user-cont-right{
    margin-left: 50px;
}
.member-list{
    list-style: none;
    display: flex;
    gap:10px;
    margin: 15px 0 15px 0;
}
.member-link{
    color: #757575;
}
.member-link-active{
    color: #000000;
}
.myRecipe-number{
    border-bottom: solid 1px #757575;
    margin-top: 20px;
}
.myRecipe-cont{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: solid 1px #757575;
    margin-top: 20px;
    padding-bottom: 20px;
}
.myRecipe-link{
    color:#000000;
}
.myRecipe-name{
    font-weight: bold;
}
.myRecipe-ingre{
    color: #757575;
    font-size: 18px;
}
.myRecipe-time-cont{
    color: #757575;
    font-size: 16px;
    display: flex;
}
.myRecipe-time{
    margin-left: 10px;
}
.myRecipe-fig{
    background: grey;
}
.myRecipe-img{
    background: grey;
    width:100%;
    height:100%;
}
.myRecipe-btn-del{
    margin-left: 100px;
}