@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}
html, body{
    height:100%;
}
html{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
}
header{
    display:flex;
    justify-content: center;
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 1px 5px #757575;
    background-color: #FFFFFF;
}
.header{
    display: flex;
    width:1200px;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
}
nav > a> li, nav > li{
    list-style: none;
    margin-left: 15px;
    cursor: pointer;
    background-image: linear-gradient(#BBA67C, #BBA67C);
    background-position: left bottom;
    background-size: 0 2.5px;
    background-repeat: no-repeat;
    transition: background-size 0.15s linear;
}
nav > a> li:hover, nav > li:hover{
    background-size: 100% 2.5px;
}
a{
    text-decoration: none;
}
.header-link{
    color: black;
}
.userName{
    color: #FFFFFF;
    background-color: #BBA67C;
    border-radius: 50%;
    width:30px;
    height:30px;
    text-align: center;
    padding:5px;
}
.section-home{
    display: grid;
    justify-content: center;
    margin-top: 56px;
    width:100%;
    background-image: url("../../icon/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-home-info{
    width:1200px;
    height:320px;    
}
.section-cover{
    width:100%;
    height:100%;
}
h3{
    margin:100px auto 5px auto;
}
.section-p{
    margin-bottom: 20px;
}
.searchBar{
    display:flex;
    align-content: center;
}
.input-search{
    width:350px;
    height:40px;
    border-radius: 5px 0px 0px 5px;
}
.btn-search{
    height:40px;
    width:40px;
    background-color: #BBA67C;
    border-radius: 0px 5px 5px 0px;
}
.search-icon{
    height: 25px;
    width:25px;
    cursor: pointer;
}
.article-article{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.article-cont{
    width:1200px;
    display: grid;
}
.article-title{
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
}
.wrap-dishCard{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.dishCard{
    color: #000000;
    width:290px;
    height:350px;
    border: solid 1px #E8E8E8;
    margin-bottom: 30px;
    line-height: 35px;
}
.dishCard:hover{
    box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.2);
}
figure{
    background-color: #757575;
    width:290px;
    height:215px;
    position: relative;
}
.dishCard-bookmark{
    position: absolute;
    top:80%;
    left:80%;
    width:30px;
    height:30px;
    margin-left: 20px;
    fill:#BBA67C;
}
.dishCard-heart{
    position: absolute;
    left:87%;
    top:10%;
    width:30px;
    height:30px;
    fill:#BBA67C;
}
.dishCard-img{
    width:290px;
    height:215px;
}
figcaption{
    position: relative;
    margin:5px auto;
    padding-left: 10px;
}
.dishCard-time{
    display:grid;
    grid-template-columns: 100px auto;
    gap:20px;
    padding-left: 10px;
}
.dishCard-heartUser{
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-left: 10px;
}
.dishCard-heart-Icon{
    width:20px;
    height:20px;
    fill: #757575;
}
.dishCard-heartNum{
    margin-left: 5px;
}
.dishCard-hot-Icon{
    width:20px;
    height:20px;
    margin-left: 15px;
}
.dishCard-hotNum{
    margin:auto 90px auto 5px;
}
.dishCard-user{
    padding-right: 10px;
    color:#757575;
}
footer{
    background: #757575;
    color:#FFFFFF;
    width:100%;
    height:5.2rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.loading-cont{
    background: #FFFFFF;
    width: 100%;
    height:100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 10;
}
.loading{
    width: 60px;
    height: 60px;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #BBA67C;
    border-radius: 100%;
    margin: 10px auto;
    animation: spin 1s infinite linear;
}
@keyframes spin{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}