.upload-title{
    margin: 80px auto 30px auto;
    text-align: center;
}
.upload-cont{
    display: grid;
    justify-content: center;
}
.dish-info-cont{
    box-shadow: 1px 0.5px 10px 0px;
    width:1200px;
    margin-bottom: 50px;
    display: grid;
    row-gap: 20px;
}
.dish-cont-flex{
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    column-gap: 20px;
}
.dish-cont-grid{
    display: grid;
    margin-left: 50px;
    margin-top: 20px;
}
.input{
    border:solid 1px #757575;
    height:30px;
}
.upload-img-cont{
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 250px;
    cursor: pointer;
    border:solid 1px #757575;
}
.input-dish-pic{
    opacity: 0;
    position: absolute;
    width:100%;
    height:100%;
    cursor: pointer;
}
.upload-img{
    width:100%;
    height:100%;
    z-index: 1;
}
.label-upload-img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); /* 扣除本體後的置中 */
}
.dish-ingredient, .dish-direction{
    width: 1000px;
}
.corss{
    cursor: pointer;
}
.ingre-content, .step-content{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 60px;
}
.btn-cont{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-add{
    width:200px;
    height:40px;
    border:solid 2px #BBA67C;
    border-radius: 4px;
}
.btn-add:hover{
    background-color: #BBA67C;
}
.btn-submit-cont{
    width: 1150px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.btn-submit{
    width: 200px;
    height:40px;
    border-radius: 4px;
}
