.section-recipe{
    margin-top: 56px;
    display: flex;
    justify-content: center;
}
.section-recipe-info{
    width:1200px;
}
.section-recipe-title{
    text-align: center;
}
.section-recipe-dishName{
    font-size: 30px;
}
.section-recipe-user{
    margin-left: 20px;
    color:#757575;
}
.section-recipe-uploadTime{
    width:350px;
    height:350px;
    margin-left: 20px;
    color:#757575;
}
.section-recipe-bookmark{
    width:30px;
    height:30px;
    margin-left: 20px;
    fill:#BBA67C;
}
.collected{
    fill:#A17A55;
}
.section-recipe-heart{
    width:30px;
    height:30px;
    fill:#757575;
}
.liked{
    fill: rgb(196, 70, 70);
}
.section-recipe-figure-time{
    display:grid;
    justify-content: center;
    justify-items: center;
}
.section-recipe-figure{
    width:600px;
    height:350px;
}
.section-recipe-img{
    width:100%;
    height:100%;
    object-fit: cover; /* 圖片放大不變形 */
}
.section-recipe-time-cont{
    display:flex;
    justify-content: space-evenly;
    width:100%;
    height:100%;
    gap:20px;
}
.article-recipe{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.article-recipe-ingredient, .article-recipe-direction{
    width: 800px;
    margin-top: 20px;
    border-top: solid 2px #757575;
}
.ingredient, .direction, .comment{
    margin-top: 10px;
}
.ingredient-item, .direction-step{
    margin-left: 60px;
}
.item, .step{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.step-input-icon, .item-input-icon{
    width:30px;
    height:30px;
    fill:#757575;
}
.item-input-check:checked ~ label > .item-input-icon{
    fill:#BBA67C;
}
.step-input-check:checked ~ label > .step-input-icon{
    fill:#BBA67C;
}
.step-input-check, .item-input-check{
    display: none;
}
.recipe-label{
    display: flex;
    gap: 15px;
}
.article-recipe-comment{
    width: 800px;
    margin-top: 20px;
    border-top: solid 2px #757575;
}
.comment-user-cont{
    width: 800px;
    border-bottom: solid 1px #757575;
    margin-top: 20px;
}
.comment-user{
    margin-left: 60px;
}
.user{
    display: flex;
    align-items: center;
}
.user-fig{
    width:35px;
    height:35px;
    border: solid 1px #BBA67C;
    border-radius: 50%;
    font-size: 40px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
}
.user-name{
    margin-right: 10px;
    font-weight: bold;
}
.date{
    color:#757575;
    font-size: 16px;
}
.content{
    margin:10px auto;
}
.comment-blank-content{
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    height:50px;
}
.input-comment{
    position:absolute;
    width:700px;
    height:50px;
    border: solid 1px #757575;
    border-radius: 15px;
}
.btn-comment{
    background-size: contain;
    position: absolute;
    left:89%;
    top:20%;
    width:30px;
    height:30px;
}
.color-none{
    fill:#BBA67C;
}
.color{
    fill:#A17A55;
}
.errorComment{
    color:red;
    text-align: center;
    margin: 10px auto;
}