.section-recipe {
	margin-top: 60px;
	padding: 15px 20px 10px 20px;
}
.section-recipe-cont {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.section-recipe-title-info {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 700px;
	width: 100%;
}
.section-recipe-title {
	text-align: left;
}
.section-recipe-info {
	display: flex;
	align-items: end;
	width: auto;
	font-size: 16px;
}
.section-recipe-dishName {
	font-size: 30px;
	color: #333;
}
.section-recipe-user {
	margin-left: 20px;
	color: #757575;
}
.section-recipe-uploadTime {
	margin-left: 20px;
	color: #757575;
}
.section-recipe-bookmark {
	width: 30px;
	height: 30px;
	margin-left: 20px;
	fill: #888;
	cursor: pointer;
}
.collected {
	color: #94c9a9;
	fill: #94c9a9;
}
.section-recipe-heart {
	width: 30px;
	height: 30px;
	fill: #888;
	cursor: pointer;
}
.liked {
	fill: rgb(196, 70, 70);
}
.section-recipe-figure {
	max-width: 700px;
	width: 100%;
	height: 350px;
	margin: 10px auto;
	border-radius: 5px;
}
.section-recipe-img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* 圖片放大不變形 */
	border-radius: 5px;
}
.section-recipe-time-cont {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	gap: 20px;
}
.article-recipe {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 20px;
}
.article-recipe-preprare,
.article-recipe-ingredient,
.article-recipe-direction,
.article-recipe-comment {
	max-width: 1300px;
	width: 90%;
	margin-top: 20px;
	border-top: solid 2px #000;
	position: relative;
}
.fa-clock,
.fa-cubes-stacked,
.fa-utensils,
.fa-comment {
	background-color: #fff;
	position: absolute;
	right: 0;
	top: -20px;
	color: #94c9a9;
	font-size: 30px;
	padding-left: 5px;
}
.prepare,
.ingredient,
.direction,
.comment {
	margin-top: 10px;
	font-weight: 800;
	font-size: 24px;
}
.prepare-item,
.ingredient-item,
.direction-step {
	margin-left: 60px;
	color: #666;
}
.prepare-item {
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
	margin-top: 20px;
}
.item,
.step {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-top: 20px;
}
.fa-check {
	width: 20px;
	height: 20px;
	border: 1px solid #bba67c;
	color: transparent;
}
.fa-circle-check {
	font-size: 20px;
	fill: #bba67c;
	color: #bba67c;
	margin-right: 5px;
}
.item-input-check:checked ~ label > .fa-check {
	color: #94c9a9;
	border: none;
	font-size: 20px;
}
.step-input-check:checked ~ label > .step-cont > .fa-circle-check {
	color: #94c9a9;
}
.step-input-check,
.item-input-check {
	display: none;
}
.recipe-label {
	align-items: center;
	display: flex;
	gap: 15px;
	cursor: pointer;
}
.step-cont {
	display: flex;
	align-items: center;
}
.comment-user-cont {
	border-bottom: solid 1px #757575;
	margin-top: 20px;
}
.comment-user {
	margin-left: 60px;
}
.user {
	display: flex;
	align-items: center;
	gap: 10px;
}
.user-fig {
	width: 35px;
	height: 35px;
	border: solid 1px #bba67c;
	border-radius: 50%;
	font-size: 40px;
	margin-right: 10px;
	display: inline-block;
	text-align: center;
}
.fa-user {
	color: #94c9a9;
}
.user-name {
	margin-right: 10px;
	font-weight: bold;
}
.date {
	color: #757575;
	font-size: 16px;
}
.content {
	margin: 10px auto 10px 55px;
}
.comment-blank-content {
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 60px;
	position: relative;
	height: 50px;
}
.input-comment {
	position: absolute;
	/* max-width: 1300px; */
	width: 100%;
	height: 50px;
	border: solid 1px #757575;
	border-radius: 15px;
	text-indent: 10px; /*For the space between input border and input word*/
}
.btn-comment {
	background-size: contain;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
}
.color-none {
	fill: #bba67c;
}
.color {
	fill: #a17a55;
}
.errorComment {
	color: red;
	text-align: center;
	margin: 10px auto;
}
@media (min-width: 360px) and (max-width: 880px) {
	.section-recipe-title-info,
	.step > .recipe-label {
		display: block;
	}
	.section-recipe-title {
		width: 100%;
	}
	.section-recipe-info {
		margin-top: 12px;
	}
	.section-recipe-user {
		margin-left: 0;
	}
	.section-recipe-user,
	.section-recipe-uploadTime {
		font-size: 14px;
		margin-left: 5px;
	}
	.section-recipe-cont {
		flex-wrap: wrap;
	}
	.section-recipe-heart,
	.section-recipe-bookmark {
		width: 20px;
		height: 20px;
	}
	.prepare-item,
	.ingredient-item,
	.direction-step,
	.comment-user,
	.comment-blank-content {
		margin-left: 0;
		font-size: 16px;
	}
	.step-cont {
		margin-bottom: 5px;
	}
}
