.member-cont{
    display: flex;
    justify-content: center;
    margin-top: 56px;
}
.signin-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:330px;
    height:350px;
    margin: 50px auto;
    border: solid 1px #757575;
}
.signup-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:330px;
    height:350px;
    margin: 50px auto;
    border: solid 1px #757575;
}
.signin-head-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.form-signin{
    display:grid;
    row-gap: 5px;
}
.input-name{
    width:100%;
    height:30px;
    border:solid 1px #757575;
}
.input-signin{
    width:100%;
    height:30px;
    border:solid 1px #757575;
}
/* .input-signin:valid{
    border:solid 1px #36d30fb4;
}
.input-signin:invalid{
    border:solid 1px red;
} */
button{
    cursor: pointer;
    background-color: #FFFFFF;
}
.btn-submit{
    color:#FFFFFF;
    background-color: #BBA67C;
    border-radius: 4px;
}
.error-message{
    text-align: center;
    width: 100%;
    height: 0.5%;
    color:red;
}
.switch{
    cursor: pointer;
    color: #BBA67C;
}
.popup{
    width: 100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-inner{
    position: relative;
    padding: 32px;
    width: 30%;
    max-width: 640px;
    background-color: #fff;
}
.popup-title{
    text-align: center;
}
.popup-switch{
    display: block;
    text-align: center;
    padding-top: 10px;
    color:#BBA67C;
}